<div id='overlay'>
  <%= content_tag "div", id: "user_details", data: {url: user_url(@user, :format => "json"), id: @user.id, email: @user.email} do %>
  <% end %>

  <div id='actions_interface'>
    <div id='attack_interface'>
      <form id="attack_power_input_form">
        <label for="attack_power">Power:</label>
        <input type="text" class="attack_power_input" id="attack_power" value=50 style="border:0; color:#f6931f; font-weight:bold;"/>
      </form>
      <div id='attack_power_slider' class='attack_power_slider'></div>
    </div>
  </div>
</div>

<div id='map'></div>

